@import 'materialize-css';

.SectionPortal {

  &__img {
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  &__button {
    padding-top: 2em;
    position: relative;
    text-align: center;
    padding-bottom: 2em;
  }
}