@import 'materialize-css';
@import 'src/constants/Constants.scss';

.ImageText {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  &__black {
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__text {
    position: relative;
    text-align: center;
    font-size: $regular-text;
    padding: 2em;
  }
}